################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
cmake-*
out
CMakeFiles
ALL_BUILD*
*sln
*vcxproj*
*.dir
Debug
Release
CMakeCache*